/* Underline Effect*/
.titulo-gr{
    font-family: 'Gotham Black Regular', "Arial";
    font-weight: 500;
    color: #fff;
    overflow-x: hidden;
}

.titulo{
    font-family: 'Gotham Black Regular', "Arial";
    font-weight: 500;
    color: #fff;
    overflow-x: hidden;
}
.size-77{
    font-size: 77px;

}

.size-97{
    font-size: 97px;

}

.size-141{
    font-size: 141px;
}
.size-23{
    font-size: 23px !important;
}
.size-21{
    font-size: 21px !important;
}

.size-28{
    font-size: 21px !important;
}
.size-37{
    font-size: 37px !important;
}
.border-black{
    border-bottom: solid black 5px;
}

.border-top-black{
    border-top: solid black 5px;
}

.text-dark{
    color: black !important;
}
.bg-dark{
    background-color: black !important;
    color: white !important;
}

.circle{
    border-radius: 50%;
}

.nav-item >.nav-link{
    font-size: 23px;
}

.helvetica{
    font-family: 'Helvetica';
    font-weight: lighter;
}
.titulo-light{
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: lighter;

}

.titulo-Myraid{
    font-family: 'Myraid Pro Bold';
    font-weight: lighter;

}
.titulo-bold{
    font-family: 'Helvetica bold';
    font-size: 17px;
    font-weight: bold;
}
.item-black{
    background-color: black;
}

#nuestraciudad{
    background-image: url('../images/ciudadManizales.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-item {
    position: relative;
  }

  .navbar-collapse ul li a.nav-link:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: transparent;
      content: '';
      opacity: 0;
      -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -ms-transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
  }

  .navbar-collapse ul li:hover a.nav-link:before {
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      bottom: 0px;
      background: #ffff;
  }

  .navbar-collapse ul li.li-black:hover a.text-dark:before {
        opacity: 1 !important;
        -ms-transform: translateY(0px) !important;
        -webkit-transform: translateY(0px) !important;
        transform: translateY(0px) !important;
        bottom: 0px !important;
        background: black !important;
    }

    #menu{
        position: fixed;
        top: 0%;
        z-index: 100;
    }
  .dropdown-menu {
    border: 0px;
  }

  /* General Styles*/

  .color-transparent{
    background-color:#d7d9db00
  }

 .menu-background-grey{
    height: 250px;
    align-items: baseline;
    background-color: #b7b8b97a  !important;

 }
 .menu-background-solid{
    border-bottom:solid 0.5px black ;
}


/* menu resposnive */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 4px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
#content-menu-responsive{
    position: fixed;
    top:10px;
    z-index:100;
}

#btn-menu-responsive{
    font-size:30px;
    cursor:pointer
}
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
