#container-chat-allice{
    position: absolute;
    top: 10%;
    bottom: 15px;
    color: #222d34;
}

.heigh-default{
    background-color: #fff;
    height: 100%;
}

.image-inbox{
    width: 25px;
    height: 25px;
}

#button-create-conversation{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 7px;
    background-color: #222d34;
}

#button-create-conversation i{
    color: #fff;
}

#search-allices-chat{
    border-radius: 30px;
    color: #222d34;
    background-color: rgba(233, 233, 233, .5);
}

#search-inbox{
    color: #222d34;
    font-size: 20px;
    transform: rotate(90deg);
    position: absolute;
    top: 6px;
    right: 7px;
}

.border-image-allices{
    border: 0.2rem solid #222d34 !important;
}

.border-image-allices-left{
    border: 0.2rem solid #e1c446 !important;
}

#allices-conversation-list{
    height: 82%;
    overflow-y: auto;
}

#allices-conversation-list a{
    text-decoration: none;
    color: #222d34;
}

#allices-conversation-list{
  scrollbar-width: thin;
  scrollbar-color: #222d34 #f5f5f5;
}

#allices-conversation-list::-webkit-scrollbar{
  width: 12px;
}

#allices-conversation-list::-webkit-scrollbar-track{
  background: #f5f5f5;
}

#allices-conversation-list::-webkit-scrollbar-thumb{
  background-color: #222d34;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}

.header-user{
    height: 8%;
    border: 0.2rem solid #222d34 !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #222d34;
    color: #fff;
}
.content-chat{
    height: 84%;
    border-right: 0.2rem solid #222d34 !important;
    border-left: 0.2rem solid #222d34 !important;
    overflow-y: auto;
}

.content-chat{
  scrollbar-width: thin;
  scrollbar-color: #222d34 #f5f5f5;
}

.content-chat::-webkit-scrollbar {
  width: 12px;
}

.content-chat::-webkit-scrollbar-track{
  background: #f5f5f5;
}

.content-chat::-webkit-scrollbar-thumb{
  background-color: #222d34;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}

.form-chat{
    height: 8%;
    border-right: 0.2rem solid #222d34 !important;
    border-left: 0.2rem solid #222d34 !important;
}

.border-info-user{
    border: 0.2rem solid #222d34 !important;
    border-radius: 10px;
}

.bg-btn-chat{
    background-color: #fff !important; 
}

#message-data{
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border: 1px solid rgba(0,0,0,.15) !important;
}

.conect_allice{
    display: inline-block !important;
    width: 15px;
    height: 15px;
    vertical-align: top;
    align-content: center;
    padding: 0px;
}

.notReadMessageAllice, .blockAllice{
    width: 15px;
    height: 15px;
    vertical-align: top;
    align-content: center;
    padding: 0px;
}

.notReadMessageAllice i, .blockAllice i{
    font-size: 80%;
}

.close-chat-allice, .drop-chat-allice, .info-chat-allice{
    border: 1px solid #222d34;
    width: 5%;
    height: 5%;
    padding: 0px;
    background-color: #222d34;
}

.info-chat-allice{
    display: none;
}

.close-chat-allice i, .drop-chat-allice i, .info-chat-allice i{
    color: #fff;
}

.message-right{
    background-color: rgb(34, 45, 52);
    border-radius: 10px;
    color: #fff;
}

.message-left{
    background-color: rgb(225, 196, 70);
    border-radius: 10px;
    color: #fff;
} 

.message-text {
    text-align: justify;
    margin: 10px 10px 30px;
}

.avatar-info-user{
    width: 150px !important;
    height: 150px !important;
    border-radius: 100% !important;
}

.btn-view-profile{
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 30%;
}

.modal-list-allices{
    overflow-y: auto;
    height: 450px;
}

.modal-list-allices{
  scrollbar-width: thin;
  scrollbar-color: #222d34 #f5f5f5;
}

.modal-list-allices::-webkit-scrollbar {
  width: 12px;
}

.modal-list-allices::-webkit-scrollbar-track{
  background: #f5f5f5;
}

.modal-list-allices::-webkit-scrollbar-thumb{
  background-color: #222d34;
  border-radius: 20px;
  border: 3px solid #f5f5f5;
}

#div-info-allice{
    display: none;
    background-color: #222d34;
    border-radius: 10px;
    color: #fff;
    text-align: left;
}

.btn-back-info-user{
    border-radius: 10px;
    border: 1px solid #222d34;
    width: 30px;
    height: 30px;
    background-color: #222d34;
}

.btn-back-info-user i{
    color: #fff;
}

@media (max-width: 760px) {
  .info-chat-allice {
    display: inline;
  }

  #container-chat-allice{
    top: 17%;
  }

  .content-chat-info-allice{
    display: none;
  }
}

.emojionearea-editor{
  max-height: 2em!important;
}